
/*estilo geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: black;
    height: 100vh;

}
.interface{
    max-width: 1280px;
    margin: 0 auto;

}

/*estilo do cabeçario*/
header{
    padding: 40px 4%;
   
}
header .Interface{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
header a {
    color:white;
    text-decoration: none;
    display: inline-block;
    transition: 2s;

}
header a:hover{
    color: brown;
    transform: scale(1.5);
}
header nav ul{
    list-style-type: none;
}
header nav li{
    display: inline-block;
    padding: 0 40px;
}
header .btn-contato button{
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 500px;
    background-color: brown;
    border: 0;
    border-radius: 30px;
    cursor:pointer;
    color: white;
}
img{
    border: 0px;
    border-radius: 50px;
    height: 100px;
}
header .btn-contato button:hover{
    box-shadow: 0px 0px 8px brown;
}